<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.ico" />
    <title>Vue Dev Exercise</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
  </head>

  <body
    class="bg-blue-300 bg-contain"
    style="background-image: url(bg-img.jpg);"
  >
    <div id="app">
      <div class="w-full h-1/5 relative flex flex-col items-center">
        <!-- GAME ACTIONS -->
        <div class="bg-gray-500 p-1 my-4 shadow-md rounded-full text-1xl">
          <button
            @click="resetGame()"
            class="bg-red-500 hover:bg-red-600 text-white font-bold rounded-full px-3 py-2 shadow-md"
          >
            <i class="fa fa-undo"></i>
            Reset Game
          </button>

          <button
            @click="undoMoves()"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-full px-3 py-2 mx-5"
            title="Undo move"
          >
            <i class="fa fa-reply"></i>
            Undo
          </button>

          <button
            @click="gameMode === 'versusHuman' && makeRobotPlay()"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-full px-3 py-2"
            title="Let the Robot to take the turn"
          >
            <i class="fa fa-robot"></i>
            Robot move
          </button>
        </div>
        <!-- END GAME ACTIONS -->

        <!-- TURN -->
        <span class="text-4xl text-gray-700 bg-gray-500"
          >Turn:
          <i
            v-if="gameMode === 'versusRobot' && current === 'X'"
            class="fa fa-robot"
            v-bind:class="current === 'X' ? 'text-red-700' : 'text-blue-700'"
          ></i>
          <i
            v-else
            class="fa fa-user"
            v-bind:class="current === 'X' ? 'text-red-700' : 'text-blue-700'"
          ></i>
        </span>

        <!-- SQUARES -->
        <div
          class="w-11/12 lg:w-3/4 grid gap-2 grid-cols-3 bg-trasparent shadow-lg mb-4"
        >
          <div
            v-for="(value,key) in values"
            @click="play(key)"
            class="bg-white h-40 flex items-center justify-center text-5xl hover:bg-gray-200 cursor-pointer"
          >
            <i
              v-if="value && gameMode === 'versusHuman'"
              class="fa fa-user"
              v-bind:class="value === 'X' ? 'text-red-700' : 'text-blue-700'"
            ></i>
            <i
              v-else-if="value === 'X' && gameMode === 'versusRobot'"
              class="fa fa-robot text-red-700"
            ></i>
            <i v-else-if="value" class="fa fa-user text-blue-700"></i>
            <!-- {{ value }} -->
          </div>
        </div>
        <!-- END SQUARES -->

        <!-- MODAL GAME MODE -->
        <div
          v-if="!gameStarted"
          class="w-full h-full absolute bg-blue-300 bg-opacity-25 flex justify-center items-center"
        >
          <div
            class="bg-white border p-5 rounded shadow-2xl text-center text-5xl"
          >
            <p class="text-4xl">Select game mode</p>
            <button
              @click="setGameMode('versusHuman')"
              class="bg-blue-500 hover:bg-blue-600 px-2 text-white border-blue-600 border-2 rounded"
              title="Human versus Human"
            >
              <i class="fa fa-user"></i> VS <i class="fa fa-user"></i>
            </button>
            <button
              @click="setGameMode('versusRobot')"
              class="bg-red-500 hover:bg-red-600 px-2 text-white border-red-600 border-2 rounded"
              title="Human versus Robot"
            >
              <i class="fa fa-user"></i> VS <i class="fa fa-robot"></i>
            </button>
          </div>
        </div>
        <!-- END MODAL GAME MODE -->

        <!-- MODAL WINNER AND RESET -->
        <div
          v-if="gameIsOver"
          class="w-full h-full absolute bg-blue-100 bg-opacity-25 flex justify-center"
        >
          <div
            class="bg-white h-48 border py-4 px-3 rounded shadow-2xl text-center"
          >
            <p v-if="winner" class="text-4xl">
              Winner <br />
              <i
                v-if="gameMode === 'versusRobot' && winner === 'X'"
                class="fa fa-robot text-5xl"
                v-bind:class="[winner === 'X' ? 'text-red-700' : 'text-blue-700']"
              ></i>
              <i
                v-else
                class="fa fa-user text-5xl"
                v-bind:class="[winner === 'X' ? 'text-red-700' : 'text-blue-700']"
              ></i>
            </p>
            <p v-else class="text-4xl">It's a Draw.</p>
            <button
              @click="resetGame()"
              class="bg-red-500 p-2 mt-4 text-white border-red-700 border-2 shadow-md text-3xl"
            >
              <i class="fa fa-undo"></i>
              play again
            </button>
          </div>
        </div>
        <!-- MODAL WINNER AND RESET -->

        <!-- ROBOT IS THINKING -->
        <div
          v-if="robotIsThinking"
          class="w-full h-full absolute flex flex-col justify-center items-center"
        >
          <i class="fa fa-robot text-6xl text-red-800"></i>
          <p class="text-3xl text-gray-800">The Robot is Thinking...</p>
        </div>
        <!-- ENDROBOT IS THINKING -->

        <!-- AUDIOS -->
        <audio
          id="X"
          src="https://actions.google.com/sounds/v1/cartoon/pop.ogg"
        ></audio>
        <audio
          id="O"
          src="https://actions.google.com/sounds/v1/cartoon/cartoon_cowbell.ogg"
        ></audio>
        <audio
          id="humanWins"
          src="https://actions.google.com/sounds/v1/crowds/battle_crowd_celebration.ogg"
        ></audio>
        <audio
          id="draw"
          src="https://actions.google.com/sounds/v1/crowds/battle_intimidation_forest.ogg"
        ></audio>
        <audio
          id="robotWins"
          src="https://actions.google.com/sounds/v1/science_fiction/robot_code.ogg"
        ></audio>
        <!-- END AUDIOS -->
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: () => ({
          gameStarted: false,
          gameIsOver: false,
          robotIsThinking: false,
          robotHasPlayed: false,
          gameMode: "",
          winner: "",
          current: "X",
          values: {
            0: "",
            1: "",
            2: "",
            3: "",
            4: "",
            5: "",
            6: "",
            7: "",
            8: "",
          },
          winningLines: [
            [0, 1, 2],
            [3, 4, 5],
            [6, 7, 8],
            [0, 3, 6],
            [1, 4, 7],
            [2, 5, 8],
            [0, 4, 8],
            [2, 4, 6],
          ],
          gameHistory: [],
        }),
        methods: {
          setGameMode(mode) {
            this.gameMode = mode === "versusHuman" ? mode : mode; // set versus 'human' or versus 'robot'
            this.gameStarted = true;

            if (this.gameMode === "versusRobot") {
              const humanGoFirst = false;
              // const humanGoFirst = Math.round(Math.random()); // 1 or 0 . True or False
              if (!humanGoFirst) {
                this.current = "X";
                this.makeRobotPlay();
              } else {
                this.current = "O";
              }
            }
          },
          play(key) {
            if (!this.values[key]) {
              this.gameHistory.push({ ...this.values }); //cloning previous values and adding to history

              this.values[key] = this.current;
              this.current = this.current === "X" ? "O" : "X";

              this.calculateWinner();

              if (
                this.gameMode === "versusRobot" &&
                !this.robotHasPlayed &&
                !this.winner
              ) {
                this.makeRobotPlay();
              } else {
                this.robotHasPlayed = false;
              }
              this.playSound(this.current);
            }
          },
          resetGame() {
            for (key in this.values) {
              this.values[key] = "";
            }
            this.current = "X";
            this.gameStarted = false;
            this.gameIsOver = false;
            this.robotIsThinking = false;
            this.winner = "";
            this.gameHistory = [];
            document
              .querySelectorAll("audio")
              .forEach((audio) => audio.pause());
          },
          undoMoves() {
            const moves = this.gameHistory.length;

            if (moves > 0 && this.gameMode === "versusHuman") {
              const previousMove = this.gameHistory.pop();
              this.values = previousMove;
              this.current = this.current === "X" ? "O" : "X";
            }
            if (moves > 1 && this.gameMode === "versusRobot") {
              // tow times to remove robot move
              for (let i = 0; i < 2; i++) {
                const previousMove = this.gameHistory.pop();
                this.values = previousMove;
                this.current = this.current === "X" ? "O" : "X";
              }
            }
          },
          makeRobotPlay() {
            this.robotIsThinking = true;
            const robotThinkingDelay = Math.random() * 3;
            let selectedPosition = 0;
            let robotChosedSquare = false;

            do {
              selectedPosition = Math.round(Math.random() * 8);
              if (this.values[selectedPosition] === "") {
                robotChosedSquare = true;
              }
            } while (!robotChosedSquare);

            if (this.gameMode === "versusRobot") {
              this.robotHasPlayed = true;
            }

            setTimeout(() => {
              this.robotIsThinking = false;
              this.play(selectedPosition);
            }, 1000 * robotThinkingDelay);
          },
          calculateWinner() {
            for (line in this.winningLines) {
              const values = this.values;
              const [square1, square2, square3] = this.winningLines[line];

              if (
                values[square1] &&
                values[square1] === values[square2] &&
                values[square1] === values[square3]
              ) {
                this.gameIsOver = true;
                this.winner = values[square1];

                let audioID = "";
                if (this.gameMode === "versusRobot" && this.winner === "X") {
                  audioID = "robotWins";
                } else if (
                  this.gameMode === "versusRobot" &&
                  this.winner === "O"
                ) {
                  audioID = "humanWins";
                }
                if (this.gameMode === "versusHuman") {
                  audioID = "humanWins";
                }
                this.playSound(audioID);
                return;
              }
            }

            //calculate draw
            let emptySquares = 0;
            for (key in this.values) {
              if (this.values[key] === "") {
                emptySquares++;
              }
            }
            if (!emptySquares) {
              this.gameIsOver = true;
              this.winner = "";
              this.playSound("draw");
            }
          },
          playSound(audioID) {
            const audioElement = document.getElementById(audioID);
            audioElement.currentTime = 0;
            audioElement.play();
          },
        },
      });
    </script>
  </body>
</html>
