<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Dev Exercise</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
  </head>

  <body class="overflow-hidden bg-blue-300">
    <div id="app">
      <div class="w-full h-screen flex flex-col items-center justify-center">
        <!-- GAME ACTIONS -->
        <div
          class="mb-3 flex justify-around bg-gray-400 p-1 mt-2 shadow-md rounded-full"
        >
          <button
            @click="resetGame"
            class="bg-red-500 hover:bg-red-600 text-white font-bold rounded-full px-3 py-2 shadow-md"
          >
            <i class="fa fa-undo"></i>
            Reset Game
          </button>

          <button
            @click="undoMoves"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-full px-3 py-2 mx-5"
            title="Undo move"
          >
            <i class="fa fa-reply"></i>
            Undo
          </button>

          <button
            @click="makeRobotPlay"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-full px-3 py-2"
            title="Let the Robot to take the turn"
          >
            <i class="fa fa-robot"></i>
            Robot move
          </button>
        </div>
        <!-- END GAME ACTIONS -->

        <!-- TURN -->
        <span class="text-3xl text-gray-700"
          >Turn:
          <i
            class="fa fa-user"
            v-bind:class="current === 'X' ? 'text-red-700' : 'text-blue-700'"
          ></i
        ></span>

        <!-- SQUARES -->
        <div class="grid gap-2 grid-cols-3 bg-red-500 shadow-lg">
          <div
            v-for="(value,key) in values"
            @click="play(key)"
            class="bg-gray-100 w-40 h-40 flex items-center justify-center text-4xl hover:bg-gray-200 cursor-pointer"
          >
            <i
              v-if="value"
              class="fa fa-user"
              v-bind:class="[value === 'X' ? 'text-red-700' : 'text-blue-700']"
            ></i>
            <!-- {{ value }} -->
          </div>
        </div>
        <!-- END SQUARES -->

        <!-- MODAL GAME MODE -->
        <div
          v-if="gameStarted"
          class="w-full h-full absolute bg-blue-300 bg-opacity-25 flex justify-center items-center"
        >
          <div class="bg-white border py-4 px-3 rounded shadow-2xl text-center">
            <p class="text-2xl">Select Game mode</p>
            <button
              @click="setGameMode('versusHuman')"
              class="bg-blue-500 hover:bg-blue-600 px-2 text-white border-blue-600 border-2 shadow-md text-3xl rounded"
              title="Human versus Human"
            >
              <i class="fa fa-user"></i> VS <i class="fa fa-user"></i>
            </button>
            <button
              @click="setGameMode('versusRobot')"
              class="bg-red-500 hover:bg-red-600 px-2 text-white border-red-600 border-2 shadow-md text-3xl rounded"
              title="Human versus Robot"
            >
              <i class="fa fa-user"></i> VS <i class="fa fa-robot"></i>
            </button>
          </div>
        </div>
        <!-- END MODAL GAME MODE -->

        <!-- MODAL WINNER AND RESET -->
        <div
          v-if="gameIsOver"
          class="w-full h-full absolute bg-blue-100 bg-opacity-25 flex justify-center items-center"
        >
          <div class="bg-white border py-4 px-3 rounded shadow-2xl text-center">
            <p class="text-2xl">Game over</p>
            <p v-if="winner" class="text-lg">
              Winner <br />
              <i
                class="fa fa-user text-4xl"
                v-bind:class="[winner === 'X' ? 'text-red-700' : 'text-blue-700']"
              ></i>
            </p>
            <p v-else class="text-lg">
              It's a Draw
            </p>
            <button
              @click="resetGame"
              class="bg-red-500 px-2 text-white border-red-700 border-2 shadow-md text-3xl rounded-full"
            >
              <i class="fa fa-undo"></i>
            </button>
          </div>
        </div>
        <!-- MODAL WINNER AND RESET -->

        <!-- ROBOT IS THINKING -->
        <div
          v-if="robotIsThinking"
          class="w-full h-full absolute flex flex-col justify-center items-center"
        >
          <i class="fa fa-robot text-6xl text-red-800"></i>
          <p class="text-3xl text-gray-800">The Robot is Thinking...</p>
        </div>
        <!-- ENDROBOT IS THINKING -->

        <!-- AUDIOS -->
        <audio src=""></audio>
        <!-- END AUDIOS -->
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: () => ({
          gameStarted: false,
          gameIsOver: false,
          robotIsThinking: false,
          robotHasPlayed: false,
          gameMode: "",
          winner: "",
          current: "X",
          values: {
            0: "",
            1: "",
            2: "",
            3: "",
            4: "",
            5: "",
            6: "",
            7: "",
            8: "",
          },
          winningLines: [
            [0, 1, 2],
            [3, 4, 5],
            [6, 7, 8],
            [0, 3, 6],
            [1, 4, 7],
            [2, 5, 8],
            [0, 4, 8],
            [2, 4, 6],
          ],
          gameHistory: [],
        }),
        methods: {
          setGameMode(mode) {
            this.gameMode = mode === "versusHuman" ? mode : mode; // set versus 'human' or versus 'robot'
            this.gameStarted = true;
            if (this.gameMode === "versusRobot") {
              this.makeRobotPlay();
            }
          },
          play(key) {
            if (!this.values[key]) {
              this.gameHistory.push({ ...this.values }); //cloning previous values and adding to history

              this.values[key] = this.current;
              this.current = this.current === "X" ? "O" : "X";

              this.calculateWinner();

              if (
                this.gameMode === "versusRobot" &&
                !this.robotHasPlayed &&
                !this.winner
              ) {
                this.makeRobotPlay();
              } else {
                this.robotHasPlayed = false;
              }
              this.playSound(this.current);
            }
          },
          resetGame() {
            for (key in this.values) {
              this.values[key] = "";
            }
            this.current = "X";
            this.gameStarted = false;
            this.gameIsOver = false;
            this.gameHistory = [];
            document.querySelector("audio").src = "";
          },
          undoMoves() {
            const moves = this.gameHistory.length;
            if (moves > 0) {
              const prevMove = this.gameHistory.pop();
              this.values = prevMove;
              this.current = this.current === "X" ? "O" : "X";
            }
          },
          makeRobotPlay() {
            this.robotIsThinking = true;
            const robotThinkingDelay = Math.random() * 4;
            let selectedPosition;
            let robotChosedSquare = false;

            do {
              selectedPosition = Math.round(Math.random() * 8);
              if (this.values[selectedPosition] === "") {
                robotChosedSquare = true;
              }
            } while (!robotChosedSquare);

            if (this.gameMode === "versusRobot") {
              this.robotHasPlayed = true;
            }

            setTimeout(() => {
              this.robotIsThinking = false;
              this.play(selectedPosition);
            }, 1000 * robotThinkingDelay);
          },
          calculateWinner() {
            for (line in this.winningLines) {
              const values = this.values;
              const [square1, square2, square3] = this.winningLines[line];

              if (
                values[square1] &&
                values[square1] === values[square2] &&
                values[square1] === values[square3]
              ) {
                this.gameIsOver = true;
                this.winner = values[square1];
                this.playSound("someOneWins");
                return;
              }
            }

            //calculate draw
            let emptySquares = 0;
            for (key in this.values) {
              if (this.values[key] === "") {
                emptySquares++;
              }
            }
            if (!emptySquares) {
              this.gameIsOver = true;
              this.winner = "";
              this.playSound("draw");
            }
          },
          playSound(audioID) {
            const audioElement = document.querySelector("audio");
            let source;

            switch (audioID) {
              case "X":
                source = "https://actions.google.com/sounds/v1/cartoon/pop.ogg";
                break;

              case "O":
                source =
                  "https://actions.google.com/sounds/v1/cartoon/cartoon_cowbell.ogg";
                break;

              case "someOneWins":
                source =
                  "https://actions.google.com/sounds/v1/crowds/battle_crowd_celebrate_stutter.ogg";
                break;

              case "humanWins":
                source =
                  "https://actions.google.com/sounds/v1/crowds/battle_crowd_celebration.ogg";
                break;

              case "draw":
                source =
                  "https://actions.google.com/sounds/v1/crowds/battle_intimidation_forest.ogg";
                break;

              default:
                source = "";
                break;
            }

            audioElement.src = source;
            audioElement.currentTime = 0;
            audioElement.play();
          },
        },
      });
    </script>
  </body>
</html>
